/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIM RESET */

body {
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: black;
    box-shadow: 2px 0px 0px #000000;
    -webkit-box-shadow: 1px 5px 5px #000000;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
    
}



.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    height: 475px;
}




.produtos .li-produtos{         /* produtos li */
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 0px 10px 65px 10px;
    box-shadow: 2px 0px 0px #000000;
    -webkit-box-shadow: 2px 2px 5px #000000;
    opacity: 0.7;
    transition: 450ms;

}

.produtos .li-produtos:hover{  /* .produto li:hover */
   border-color: orange;
   opacity: 1;
}

.produtos .li-produtos:active{
    border-color: orangered;
 
}

.produtos .li-produtos:hover h2{
   font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


footer{
    text-align: center;
    background: url("../Imagens/bg.jpg");  
}

.logo4{
    padding-top: 18px;
}

.copyright{
  color: white;
  font-size: 13px;
  padding-bottom: 18px;
}


 
