
body {
    font-family: 'Montserrat', sans-serif;
}

.menu {
    background: white;
    border-radius: 50%;
    bottom: -38px;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
    height: 60px;
    position: absolute;
    right: 437px;
    transition:  box-shadow 1.1s cubic-bezier(.19,1,.22,1);
    width: 60px;
    z-index: 2;
    box-shadow: 1px 2px 20px black;
}

.menu:hover {
    box-shadow: 0 0 0 8px white, 0 0 0 8px #FFF;
}

.linhas {
    position: relative;
    top: 29px;
    left: 15px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}

.linhas:after,
.linhas:before {
    background: black;
    content: "";
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.linhas:before {
    top: -10px;
}

.linhas:after {
    bottom: -10px;
}

.caixa input {
    display: none;
}

.caixa input:checked ~ label .menu {
    box-shadow: 0 0 0 130vw rgb(255, 255, 255), 0 0 0 130vh #FFF;
}

.caixa input:checked ~ label .linhas {
    transform: rotate(45deg);
}

.caixa input:checked ~ label .linhas:after {
    transform: rotate(90deg);
    bottom: 0;
}

.caixa input:checked ~ label .linhas:before {
    transform: rotate(90deg);
    top: 0;
}

.caixa input:checked ~ .ul-menu {
    opacity: 1;
    visibility: visible;
}


.ul-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 45px;
    opacity: 0;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    visibility: hidden;
    z-index: 2;
    padding-top: 35px;
    text-align: center;

}

a {
    color: black;
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.5;
    transition: 300ms;
}

a:hover{
    opacity: 1;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 80%;
    height: 300px;
}
